<div class="row">
    <div class="col-sm-7 text-end">
        <h1>To Do List</h1>
    </div>
    <div class="col-sm-5 text-end">
        <a class="btn btn-secondary mx-4" type="button" name="search" data-toggle="modal" data-target="#AddTask">Add Task</a>
    </div>
</div>
<ul class="d-flex gap-3 my-4 mx-3 p-0 fw-bold">
    <li class="nav-item">
        <a class="nav-link" href="index">
            <span>All</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="work">
            <span>Work</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="personal">
            <span>Personal</span>
        </a>
    </li>
</ul>