<!-- <h4 class="my-4 mx-3">Pending Tasks</h4> -->
<% if (pendingTasks != 0) {
    for (let task of pendingTasks) {
        const dateCreated = task.date_created;
        const date = new Date(dateCreated).toLocaleString();
%>
<div class="task row bg-cc m-2 rounded p-2">
    <div class="col-sm-1 d-flex align-items-center justify-content-center">
        <form class="form-check">
            <input class="form-check-input" type="checkbox" role="button" name="status" onclick="submit();">
            <input type="hidden" name="statusId" value="<%=task.id%>">
        </form>
    </div>
    <div class="task-title col-sm-8">
        <h5 class="m-0"><%=task.task %></h5>
        <p class="m-0"><%=date %></p>
    </div>
    <div class="action col-sm-2 d-flex align-items-center">
        <form>
            <input class="btn btn-danger" type="submit" name="deletePending" value="Delete">
            <input type="hidden" name="deletePendingId" value="<%=task.id %>">
        </form>
    </div>
</div>
<% } } else { %>
    <p class="text-center my-5"> No Pending Tasks. </p>
<% } %>